---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<bettercad/'
    Priority: 2
  - Regex: '^<(Q|Standard_|gp_|TopoDS|BRep|Eigen/|catch2/|nlohmann/)'
    Priority: 3
  - Regex: '^<'
    Priority: 4
NamespaceIndentation: None
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: true
...
